<!DOCTYPE html>
<html lang="en"> 
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>뷰 기초 익히기</title>
    <style>
        .red{
            color:red;
        }a
        .font-bold{
            font-weight: bold;
        }
    </style>
    
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body> 
    <div id="app">
        <!-- <template v-if="show">
        <template v-if="number ===1">
            <div>1</div>
            <div>2</div>
            <div>3</div>
        </template>
        <div v-else-if="number === 2">Hi</div>
        <div v-if="show">YES</div> 
        <div v-else>No</div>
        <br>
        <button @click ="toggleShow">toggle</button>
        <button @click = "increaseNumber">increase</button> {{ number }} -->
    <div v-show="show">Yes</div>
    <br>
    <button @click="toggle">Toggle</button>
    </div>
    <script>
        new Vue({
            el: '#app',
            data: {
                show : false,
                number : 1
            },
            methods: {
                toggleShow(){
                    this.show = !this.show;
                },
                increaseNumber(){
                    this.number++;
                },
                toggle(){
                    this.show = !this.show;
                }
            }
        })
    </script>
</body>
</html>

 
